{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/alice.css' %}">
    <link rel="stylesheet" href="{% static 'css/yunti.css' %}">
{% endblock %}

{% block main %}

    <div class="container mt70">
        {% if blog %}
            <h2 style="text-align:center; font-size:20px; font-weight:bold;">{{ blog.title }}</h2>
            <div class="mb5 mt5 px12 gray" style="text-align: right;">
                关键字：{{ blog.keyword }}&emsp;发布于&nbsp;{{ blog.createDate|date:'Y-m-d H:i:s' }}
            </div>
            <div class="pb10 px16">{{ blog.content }}</div>
        {% endif %}
    </div>

    <div class="container mt70">
        {% for comment in comments %}
            <div class="mt20">
                {{ comment.author.username }}: {{ comment.content }}
                <br/>
                {{ comment.createDate | date:'Y-m-d H:i:s' }}

            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            {% if 'blog.add_comment' in perms %}
                <form id="commentForm" class="ui-form mt20" action="/blog/{{ blog.pk }}/comment/" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="ui-form-item">
                        <input type="submit" class="ui-button ui-button-morange" value="评论">
                    </div>
                </form>
            {% endif %}
        {% else %}
            please login to add comment
        {% endif %}
    </div>

{% endblock %}