{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    {% comment %}为了支持移动设备{% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    <title>display the latest questions here!</title>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% endblock %}



</head>
<body>

    <div class="nav navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">首页</a>
                    <a href="/practice/" class="navbar-brand">在线练习</a>
                    <a href="/blog/" class="navbar-brand">博客</a>
                    <a href="/note/" class="navbar-brand">笔记</a>
                    <a href="/admin/" class="navbar-brand navbar-right">后台管理</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 800px;">
    {% block main %}
        <div class="jumbotron" style="background-image: url('{% static 'image/bg1.jpg' %}'); margin-top: 50px;">
        <div class="container">
            <div class="col-lg-6">
                <h1>Python Studease</h1>
                  <p>用户</p>
                  <p>在线练习</p>
                  <p>博客</p>
                  <p>云笔记</p>
            </div>
            <div class="col-lg-6 form-box">
                <form class="form-signin" role="form" style="color: #bfbfbf; padding-top: 20px;">
                    <h2 class="form-signin-heading">请登录</h2>
                    <input type="email" class="form-control" placeholder="邮箱" required="" autofocus="">
                    <input type="password" class="form-control mt20" placeholder="密码" required="">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> 记住账号
                      </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                </form>
            </div>

          {% comment %}<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>{% endcomment %}
        </div>
        </div>

        <div class="container" style="margin-top: 40px;margin-bottom: 40px;">
            <div class="col-lg-4">
                <h1 class="page-header">在线练习</h1>
                <a href="/practice/"><img class="col-lg-12" src="{% static 'image/practice1.jpg' %}" alt="在线练习" title="在线练习"></a>
            </div>
            <div class="col-lg-4">
                <h1 class="page-header">博客</h1>
                <a href="/blog/"><img class="col-lg-12" src="{% static 'image/blog1.jpg' %}" alt="博客" title="博客"></a>
            </div>
            <div class="col-lg-4">
                <h1 class="page-header">云笔记</h1>
                <a href="/note/"><img src="{% static 'image/note1.jpg' %}" alt="云笔记" title="云笔记"></a>
            </div>
        </div>

    {% endblock %}
    </div>

    <div class="row" style="background-color: #323B44;padding-bottom: 20px;padding-top: 20px;">
        <div class="container">
            <div class="col-lg-4">
                <h1 style="color: #e7e7e7;">联系我们</h1>
                <ul class="list-unstyled" style="color: #777;">
                    <li>致电: 18224421156</li>
                    <li>邮件: spieled916@gmail.com</li>
                    <li>QQ: 472458220</li>
                    <li>地址: 中国成都</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h1 style="color: #e7e7e7;">友情链接</h1>
                <ul class="list-unstyled" style="color: #777;">
                    <li><a href="http://studease.cn" target="_blank">studease.cn</a></li>
                    <li><a href="http://www.cloudvast.com" target="_blank">www.cloudvast.com</a></li>
                    <li><a href="https://awk.so/" target="_blank">google</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h1 style="color: #e7e7e7;">版权信息</h1>
                <ul class="list-unstyled" style="color: #777;">
                    <li>@2014</li>
                    <li>studease所有</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'js/3rd/sea.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/3rd/sea.conf.js' %}" type="text/javascript"></script>
    {% block scripts %}

    {% endblock %}

</body>
</html>