{% extends 'base.html' %}

{% block scripts %}
<script>
seajs.use(['$', 'bootstrap', '$.form', '$.dialog'], function($) {
    $(function() {

        var siginForm = $('#form-signin');


        $(siginForm).on('submit', function(e) {
            e.preventDefault();
            $(siginForm).ajaxSubmit(function(responseText) {
                if (responseText.success) {
                        // 登录成功后的跳转逻辑
                        console.log('处理登录成功后的跳转逻辑');
                        $.alert('恭喜你登录成功');
                    } else {
                        $('#error').text(responseText.msg);
                        $.alert(responseText.msg);
                    }
            });

            return false;
        });
    });
});
</script>
{% endblock scripts %}