{% extends 'base.html' %}

{% block main %}

    <div class="container masthead">
        <div class="row">
            <ul class="">
                {% for question in questions %}
                    <li>
                    <a href="/practice/practice/{{ question.pk }}/" target="_blank">
                    {{ question.content }}
                    </a>
                    {% comment %}{{ question.create_date|date:"Y-m-d H:m:s" }}{% endcomment %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}